html, body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    min-width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
}

body {
    background-color: #183f6f;
    color: #b8b8b8;
}

nav {
    display: flex;
    align-items: stretch;
    min-height: 3rem;
    text-align: center;
    z-index: 5;
}

.nav-left, .nav-right {
    display: flex;
    overflow-x: auto;
    align-items: stretch;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

nav a {
    color: #cccccc;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.1rem;
    padding: .65rem .8rem;
    text-decoration: none;
}

nav a:hover {
    color: #ffffff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

section {
    padding: 3.5rem 2rem;
}

.container {
    max-width: 1200px;
    margin : 0 auto;
}

.centered {
    text-align: center;
}

.type-2 {
    background-color: #1e2f52;
}

.login-area {
    padding: 3.5rem 3rem 6rem 3rem;
    background: #182644;
    box-shadow: 0 0 2px rgba(0,0,0,.14), 0 2px 4px rgba(0,0,0,.28);
    max-width: 500px;
}

#loginForm input, #signupForm input {
    margin: .5rem 0;
}

.fancyButton-1 {
    background: #396fe4;
    border-radius: 2px;
    padding: 12px 36px;
    color: white;
    text-decoration: none;
}

.fancyButton-1:hover {
    background: #466dc0;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.fancyButton-1:active {
    background: #123862;
}

.fancyButton-2 {
    background: white;
    border-radius: 2px;
    padding: 12px 36px;
    color: #182644;
    text-decoration: none;
}

.fancyButton-2:hover {
    background: #7988a8;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
}

.fancyButton-2:active {
    background: #5d738a;
}